<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <!-- header -->
        <h1 class="text-center">
            模拟联合国数据模型
        </h1>
        <hr>
        <!-- 两党政府执行力指数 -->
        <div class="row">
            <div class="col-md-6 bg-info">
                <p class="h3">
                    A党政府执行力:70
                </p>
            </div>
            <div class="col-md-6 bg-danger">
                <p class="h3">
                    B党政府执行力:80
                </p>
            </div>
        </div>
        <hr>
        <h2 class="text-center">
            A会场
        </h2>
        <br>
        <div class="row">
            <!-- 议员个人info -->
            <div class="col-md-8">
                <p class="h3">
                    议员个人信息
                </p>
                <table class="table table-bordered table-hover">
                    <tr class="info">
                        <th>议员编号</th>
                        <th>议员名称</th>
                        <th>议员指数</th>
                        <th>所属党派</th>
                    </tr>
                    <tr>
                        <td>1号</td>
                        <td>张三</td>
                        <td>70</td>
                        <td>A</td>
                    </tr>
                    <tr>
                        <td>2号</td>
                        <td>李四</td>
                        <td>80</td>
                        <td>A</td>
                    </tr>
                    <tr>
                        <td>3号</td>
                        <td>王五</td>
                        <td>65</td>
                        <td>B</td>
                    </tr>
                </table>
            </div>
            <br>

            <!-- 整体指数 -->
            <div class="col-md-4">
                <p class="h3">
                国会矛盾指数
                </p>
                <p class="h4">
                    70
                </p>
            </div>
        </div>
        <br>
        <p class="h3">
            添加一个议员
        </p>
        <!-- 新增加一个议员 -->
        <form action="xxx.php" method="get">
            <div class="row">
                <div class="col-md-2">
                    <h4>议员名称:</h4>
                    <input type="text" class="form-control">
                </div>
                <div class="col-md-2">
                    <h4>议员指数:</h4>
                    <input type="text" class="form-control">
                </div>
                <div class="col-md-2">
                    <h4>所属党派:</h4>
                    <select class="form-control">
                        <option>
                            A
                        </option>
                        <option>
                            B
                        </option>
                    </select>
                </div>
                <div class="col-md-2">
                    <br>
                    <br>
                    <input type="submit" class="btn" value="提交修改">
                </div>
            </div>
        </form>
        <hr>
        <h2 class="text-center">
            B会场
        </h2>
        <br>
        <div class="row">
            <!-- 议员个人info -->
            <div class="col-md-8">
                <p class="h3">
                    议员个人信息
                </p>
                <table class="table table-bordered table-hover">
                    <tr class="info">
                        <th>议员编号</th>
                        <th>议员名称</th>
                        <th>议员指数</th>
                        <th>所属党派</th>
                    </tr>
                    <tr>
                        <td>1号</td>
                        <td>张三</td>
                        <td>70</td>
                        <td>A</td>
                    </tr>
                    <tr>
                        <td>2号</td>
                        <td>李四</td>
                        <td>80</td>
                        <td>A</td>
                    </tr>
                    <tr>
                        <td>3号</td>
                        <td>王五</td>
                        <td>65</td>
                        <td>B</td>
                    </tr>
                </table>
            </div>
            <br>

            <!-- 整体指数 -->
            <div class="col-md-4">
                <p class="h3">
                国会矛盾指数
                </p>
                <p class="h4">
                    90
                </p>
            </div>
        </div>
        <br>
        <p class="h3">
            添加一个议员
        </p>
        <!-- 新增加一个议员 -->
        <form action="xxx.php" method="get">
            <div class="row">
                <div class="col-md-2">
                    <h4>议员名称:</h4>
                    <input type="text" class="form-control">
                </div>
                <div class="col-md-2">
                    <h4>议员指数:</h4>
                    <input type="text" class="form-control">
                </div>
                <div class="col-md-2">
                    <h4>所属党派:</h4>
                    <select class="form-control">
                        <option>
                            A
                        </option>
                        <option>
                            B
                        </option>
                    </select>
                </div>
                <div class="col-md-2">
                    <br>
                    <br>
                    <input type="submit" class="btn" value="提交修改">
                </div>
            </div>
        </form>
        <hr>
        <h2 class="text-center">
            C会场
        </h2>
        <br>
        <div class="row">
            <!-- 议员个人info -->
            <div class="col-md-8">
                <p class="h3">
                    议员个人信息
                </p>
                <table class="table table-bordered table-hover">
                    <tr class="info">
                        <th>议员编号</th>
                        <th>议员名称</th>
                        <th>议员指数</th>
                        <th>所属党派</th>
                    </tr>
                    <tr>
                        <td>1号</td>
                        <td>张三</td>
                        <td>70</td>
                        <td>A</td>
                    </tr>
                    <tr>
                        <td>2号</td>
                        <td>李四</td>
                        <td>80</td>
                        <td>A</td>
                    </tr>
                    <tr>
                        <td>3号</td>
                        <td>王五</td>
                        <td>65</td>
                        <td>B</td>
                    </tr>
                </table>
            </div>
            <br>

            <!-- 整体指数 -->
            <div class="col-md-4">
                <p class="h3">
                国会矛盾指数
                </p>
                <p class="h4">
                    100
                </p>
            </div>
        </div>
        <br>
        <p class="h3">
            添加一个议员
        </p>
        <!-- 新增加一个议员 -->
        <form action="xxx.php" method="get">
            <div class="row">
                <div class="col-md-2">
                    <h4>议员名称:</h4>
                    <input type="text" class="form-control">
                </div>
                <div class="col-md-2">
                    <h4>议员指数:</h4>
                    <input type="text" class="form-control">
                </div>
                <div class="col-md-2">
                    <h4>所属党派:</h4>
                    <select class="form-control">
                        <option>
                            A
                        </option>
                        <option>
                            B
                        </option>
                    </select>
                </div>
                <div class="col-md-2">
                    <br>
                    <br>
                    <input type="submit" class="btn" value="提交修改">
                </div>
            </div>
        </form>
    </div>
</body>
</html>