# Virtual Environments
venv/
env/

# Python Files
*.pyc
__pycache__/

# Development Files
.vscode

# Deployment Files
*.ini
*.sock

# Local Flask Instance Directory
instance/
*.db
*.sqlite

# Misc
.DS_Store
.pytest_cache/
.coverage
htmlcov/

log/
*.log

dist/
build/
*.egg-info/

